/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/_SQL/Skeleton_data_base_procedures.sql
/_SQL/Skeleton_Data_base.sql
/_SQL/Skeleton_Main_Data_base.sql
/_SQL/atet
/resources/assets
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache