/*
  font-family: 'Rubik', sans-serif;
  font-family: 'Open Sans', sans-serif;
*/
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: #d1d1d1;
  color: #464d5c;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  min-height: 100%;
  position: relative;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Rubik', sans-serif;
}
a {
  color: #0aab8a;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
a:hover {
  color: #0aab8a;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #305f94;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  color: #d1d1d1;
}
.card {
  border: none;
  border-top: 4px solid #305f94;
  border-radius: 0px;
  width: 100%;
}
.card .card-heading {
  font-family: 'Rubik', sans-serif;
  padding: 18px 26px 14px 26px;
  font-size: 1.15em;
  color: #858ea7;
  border-bottom: 1px solid #d1d1d1;
}
.card .card-footer {
  background: #fff;
  text-align: right;
}
.icon-input {
  position: absolute;
  top: 10px;
  left: 15px;
}
.icon-input i {
  color: #7f7f7f;
}
.form-control {
  height: 40px;
  padding: 12px;
  border: 1px solid #d1d1d1;
  color: #7f7f7f;
  font-size: 1em;
  border-radius: 0px;
}
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #d1d1d1;
}
.col-form-label {
  font-family: 'Rubik', sans-serif;
}
.odInput {
  width: 100%;
  height: 40px;
  padding: 12px 20px;
  padding-left: 34px;
  border: 1px solid #d1d1d1;
  color: #7f7f7f;
  font-size: 0.9em;
}
.odInput:focus {
  outline: none;
}
.odInput.buscar {
  width: auto !important;
}
.odBtn,
.btn {
  display: inline-block;
  color: #f3f3f3 !important;
  border: none;
  vertical-align: middle;
  padding: 0.6rem 1.4rem;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 0px;
  font-family: 'Rubik', sans-serif;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.odBtn:focus,
.btn:focus {
  outline: none !important;
  background: #f3f3f3 !important;
}
.odBtn:active,
.btn:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.odBtn.info,
.btn.info,
.odBtn.btn-primary,
.btn.btn-primary {
  background: #305f94;
  color: #f3f3f3 !important;
}
.odBtn.info:hover,
.btn.info:hover,
.odBtn.btn-primary:hover,
.btn.btn-primary:hover {
  color: #305f94 !important;
  -webkit-box-shadow: inset 0 -4px 0 #305f94;
          box-shadow: inset 0 -4px 0 #305f94;
  background: #f3f3f3;
  text-decoration: none;
}
.odBtn.info:focus,
.btn.info:focus,
.odBtn.btn-primary:focus,
.btn.btn-primary:focus {
  color: #305f94 !important;
  outline: 0;
  background: #f3f3f3;
  -webkit-box-shadow: inset 0 -4px 0 #305f94;
          box-shadow: inset 0 -4px 0 #305f94;
}
.odBtn.guardar,
.btn.guardar,
.odBtn.btn-success,
.btn.btn-success {
  background: #0aab8a;
  color: #f3f3f3 !important;
}
.odBtn.guardar:hover,
.btn.guardar:hover,
.odBtn.btn-success:hover,
.btn.btn-success:hover {
  color: #0aab8a !important;
  -webkit-box-shadow: inset 0 -4px 0 #0aab8a;
          box-shadow: inset 0 -4px 0 #0aab8a;
  background: #f3f3f3;
  text-decoration: none;
}
.odBtn.guardar:focus,
.btn.guardar:focus,
.odBtn.btn-success:focus,
.btn.btn-success:focus {
  color: #0aab8a !important;
  outline: 0;
  background: #f3f3f3;
  -webkit-box-shadow: inset 0 -4px 0 #0aab8a;
          box-shadow: inset 0 -4px 0 #0aab8a;
}
.odBtn.nuevo,
.btn.nuevo,
.odBtn.btn-secondary,
.btn.btn-secondary {
  background: #464d5c;
  color: #f3f3f3 !important;
}
.odBtn.nuevo:hover,
.btn.nuevo:hover,
.odBtn.btn-secondary:hover,
.btn.btn-secondary:hover {
  color: #464d5c !important;
  -webkit-box-shadow: inset 0 -4px 0 #464d5c;
          box-shadow: inset 0 -4px 0 #464d5c;
  background: #f3f3f3;
  text-decoration: none;
}
.odBtn.nuevo:focus,
.btn.nuevo:focus,
.odBtn.btn-secondary:focus,
.btn.btn-secondary:focus,
.odBtn.nuevo:active,
.btn.nuevo:active,
.odBtn.btn-secondary:active,
.btn.btn-secondary:active {
  color: #464d5c !important;
  outline: 0;
  background: #f3f3f3;
  -webkit-box-shadow: inset 0 -4px 0 #464d5c;
          box-shadow: inset 0 -4px 0 #464d5c;
}
.odBtn.modificar,
.btn.modificar,
.odBtn.btn-warning,
.btn.btn-warning {
  background: #858ea7;
  color: #f3f3f3 !important;
}
.odBtn.modificar:hover,
.btn.modificar:hover,
.odBtn.btn-warning:hover,
.btn.btn-warning:hover {
  color: #858ea7 !important;
  -webkit-box-shadow: inset 0 -4px 0 #858ea7;
          box-shadow: inset 0 -4px 0 #858ea7;
  background: #f3f3f3;
  text-decoration: none;
}
.odBtn.modificar:focus,
.btn.modificar:focus,
.odBtn.btn-warning:focus,
.btn.btn-warning:focus {
  color: #858ea7 !important;
  outline: 0;
  background: #f3f3f3;
  -webkit-box-shadow: inset 0 -4px 0 #858ea7;
          box-shadow: inset 0 -4px 0 #858ea7;
}
.odBtn.cancelar,
.btn.cancelar,
.odBtn.btn-danger,
.btn.btn-danger {
  background: #ab4240;
  color: #f3f3f3 !important;
}
.odBtn.cancelar:hover,
.btn.cancelar:hover,
.odBtn.btn-danger:hover,
.btn.btn-danger:hover {
  color: #ab4240 !important;
  -webkit-box-shadow: inset 0 -4px 0 #ab4240;
          box-shadow: inset 0 -4px 0 #ab4240;
  background: #f3f3f3;
  text-decoration: none;
}
.odBtn.cancelar:focus,
.btn.cancelar:focus,
.odBtn.btn-danger:focus,
.btn.btn-danger:focus,
.odBtn.cancelar:active,
.btn.cancelar:active,
.odBtn.btn-danger:active,
.btn.btn-danger:active {
  color: #ab4240 !important;
  outline: 0;
  background: #f3f3f3;
  -webkit-box-shadow: inset 0 -4px 0 #ab4240;
          box-shadow: inset 0 -4px 0 #ab4240;
}
.rubikFont {
  font-family: 'Rubik', sans-serif;
}
.contenido {
  padding-top: 30px;
  padding-bottom: 35px;
}
.table thead th {
  border-top: none;
}
.table tbody tr {
  border-bottom: 1px solid #dee2e6;
}
.breadcrumb {
  float: right;
  border-radius: 0px;
  background: #f3f3f3;
  padding: 0.45rem 1rem;
}
.modal-content {
  border-radius: 0px;
  border: none;
  border-top: 4px solid #305f94;
}
.modal-header {
  padding: 1.1em 1.4em 0.7em 1.4em;
}
.modal-header .close {
  padding: 0.6em;
}
.modal-title {
  line-height: auto;
  font-size: 1.4em;
  color: #868da7;
  font-family: 'Rubik', sans-serif;
}
.actions-table {
  font-size: 0.85em;
}
.actions-table a {
  margin-right: 2px;
}
.table {
  font-size: 0.9em;
}
.fz-1 {
  font-size: 0.7em;
}
.fz-2 {
  font-size: 0.85em;
}
.fz-3 {
  font-size: 0.9em;
}
.fz-4 {
  font-size: 1em;
}
.page-item.active .page-link {
  background-color: #464d5c !important;
  border-color: #464d5c;
}
.page-item.active .page-link:hover {
  color: #464d5c;
}
.page-item.active .page-link:focus,
.page-item.active .page-link:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.page-link {
  color: #464d5c;
  font-size: 0.9em;
}
table.b-table > thead > tr > th.sorting:focus,
table.b-table > thead > tr table.b-table:focus {
  outline: none;
}
.form-title {
  font-size: 1.3em;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
}
.form-description {
  color: #868da7;
  font-family: 'Open Sans', sans-serif;
}
