/*
  font-family: 'Rubik', sans-serif;
  font-family: 'Open Sans', sans-serif;
*/
body {
  background: #d1d1d1;
  color: #464d5c;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Rubik', sans-serif;
}
a {
  color: #0aab8a;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
a:hover {
  color: #0aab8a;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.rubikFont {
  font-family: 'Rubik', sans-serif;
}
.header {
  background: #305f94;
  color: #fff;
  padding: 27px 0px 22px 0px;
}
