.overlay-green
    position: absolute
    top: 0
    left: 0
    background-color: #0AAB8A !important
    width: 100%
    height: 280px
    z-index: 0

.auth-box
    margin: 0 auto
    margin-top: 10%
    width: 578px
    z-index: 999
    .card
        padding: 15px
    .logotipo
        padding-top: 15px
        padding-bottom: 25px
    form
        input
            font-size: 1em
            padding-left: 38px
    @media screen and (max-width: 768px)
        width: auto
.btn-login
    width: 100%
    padding-top: 12px
    padding-bottom: 12px
    font-size: 1.3em

.sign
    font-family: 'Rubik', sans-serif
    padding-top: 10%
    font-size: 1em
    a
        font-size: 1em

.login-bottom
    padding-top: 30px
    padding-bottom: 15px
    a
        font-size: 1.1em

.card-title
  font-family: 'Rubik', sans-serif;
  font-size: 1.15em;
  color: #858ea7;
