$colorInfo = #305f94
$colorGuardar = #0aab8a
$colorNuevo = #464d5c
$colorModificar = #858ea7

.dashboxLayout
	display: flex
	justify-content: center
	flex-wrap: wrap
	align-content: space-between

.dashbox
	margin: 0.3em
	text-align: center
	color: #f3f3f3
	font-family: 'Rubik', sans-serif
	cursor: pointer
	&.info
		background: $colorInfo
	&.guardar
		background: $colorGuardar
	&.nuevo
		background: $colorNuevo
	&.modificar
		background: $colorModificar
	&:hover
		opacity: .9
	.icono
		i
			font-size: 1.58em

.vertical-line
	border-right: 1px solid #d1d1d1