//Header
.header
    background: #305f94
    color: #ffffff
    padding: 27px 0px 22px 0px

/*
.logoHeaderComponent
    max-height 42px
*/
.head-right
    float right
    li
        a
            i
                &.fa
                    &.lnr
                        position absolute
                        top 34%
                        right 8%
                        color #000
                        font-size 1.2em
    .dropdown
        a
            &.dropdown-toggle
                display block
                padding 0em 3em 0 1em

.perfil-img,
	.user-name
    float left

.user-name
    margin-top 7px
    margin-left 11px
    height 35px
    p
        font-family 'Rubik', sans-serif
        font-size 1em
        color #fff
        line-height 1em
    span
        font-size .85em
        color #0aab8a
        font-weight normal
        margin-top .3em

.dropdown-toggle
    &::after
        display none

.dropdown-menu
    padding 1em
    &.show
        li
            a
                font-size .8em
                color #858ea7
                &.active
                  color: #0aab8a
                i
                    font-size .85em
                    margin-right 10px

//Navbar
.barra
    background #fff
    box-shadow: 0px 5px 6px rgba(0, 0, 0, .1)
    .barra-list
        & > li
            display inline-block
            margin-right -4px
            &.item
                i
                    display: inline
                    margin-right 8px
                    font-size: 1.1em
                a
                    color #6c757d /*#858ea7*/
                    line-height 60px
                    height 60px
                    display block
                    font-family: 'Rubik', sans-serif
                    padding 0px 20px 0px 20px
                    &:hover
                        text-decoration none
                        color #f3f3f3
                        background #0AAB8A
                .dropdown-toggle
                    i
                        margin-left 5px
                &.dropdown
                    &.show
                        background #0AAB8A
                        a
                            color #fff
                &.active
                    background #0AAB8A
                    a
                        color #f3f3f3
        li
            &.dropdown
                ul
                    &.dropdown-menu
                        .li-dropdown
                            a
                                display block
                                padding 5px 0px 5px 0px
                                height 30px
                                line-height 20px
                                color #6c757d /*#858EA7*/
                                &:hover
                                    background transparent
                                    color #0AAB8A
                                &.active
                                  color: #0aab8a
