/*
  font-family: 'Rubik', sans-serif;
  font-family: 'Open Sans', sans-serif;
*/

body
	background: #d1d1d1
	color: #464D5C
	font-family: 'Open Sans', sans-serif
	font-size: 14px
	
h1, h2, h3, h4, h5
	font-family: 'Rubik', sans-serif
	
a
	color: #0aab8a
	transition: all .4s
	&:hover
		color: #0aab8a

ul
	list-style-type: none
	margin: 0
	padding: 0
	
p 
	margin: 0

.rubikFont
	font-family: 'Rubik', sans-serif
	
.header
	background: #305f94
	color: #ffffff
	padding: 27px 0px 22px 0px
